@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: #232425;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  font-weight: normal;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  max-width: 1200px;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}

.sidebar {
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.promote {
  width: 42px;
}

.promote:not(:last-child) {
  margin-right: 0.25rem;
}

.rank {
  display: flex;
  justify-content: center;
}

.square {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}

/* Otherwise divs w/o content will not take up the whole square. */
.square:empty::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square img {
  width: 100%;
  height: 100%;
}

.b {
  background-color: #b58863;
}
.b.selected {
  background-color: #646d40;
}
.b.highlight {
  background-color: #aba23a;
}
.w {
  background-color: #f0d9b5;
}
.w.selected {
  background-color: #819669;
}
.w.highlight {
  background-color: #ced26b;
}

.moveable {
  background-image: radial-gradient(
    rgba(20, 85, 30, 0.5) 19%,
    rgba(0, 0, 0, 0) 20%
  );
}

.attackable {
  background-image: radial-gradient(
    transparent 0%,
    transparent 79%,
    rgba(20, 85, 0, 0.3) 80%
  );
}
