@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: #232425;
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;
}

.container {
  display: flex;
  justify-content: center;
}

.sidebar {
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.promote {
  width: 42px;
}

.promote:not(:last-child) {
  margin-right: 0.25rem;
}

.rank {
  display: flex;
  justify-content: center;
}

.square {
  width: 64px;
  height: 64px;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}

.b {
  background-color: #b58863;
}
.b.selected {
  background-color: #646d40;
}
.w {
  background-color: #f0d9b5;
}
.w.selected {
  background-color: #819669;
}
.w.highlight {
  /* background-color: #todo; */
}

.moveable {
  background-image: radial-gradient(
    rgba(20, 85, 30, 0.5) 19%,
    rgba(0, 0, 0, 0) 20%
  );
}

.attackable {
  background-image: radial-gradient(
    transparent 0%,
    transparent 79%,
    rgba(20, 85, 0, 0.3) 80%
  );
}
